.box {
    color: white;
    margin:20px;
    border-radius: 5px;
    background: #20639B;
    width: 100px;
    height: 80px; 
    padding-top:20px;
}
.smallbox {
    color: white;
    margin:20px;
    border-radius: 5px;
    background: #20639B;
    width: 100px;
    height: 40px; 
    padding-top:20px;
}

.container {
    display: grid;
    grid-template-columns: 17px 100px 40px 100px;
    grid-template-rows: 100px 20px 100px 20px 100px 20px 100px 20px 100px 20px 100px 20px 100px 20px 100px 20px 100px 20px 100px 20px 60px auto;
    grid-template-areas: 
        ". place1 . place2"
        ". . . ."
        ". place3 . place4"
        ". . . ."
        ". place5 . place6"
        ". . . ."
        ". place7 . place8"
        ". . . ."
        ". place9 . place10";
        ". . . ."
        ". placeAll . placeMissed";
}
.number { font-size:1.4em; font-weight: bold; color:#3CAEA3; }
